.nx/installation
.nx/cache
.nx/workspace-data
.angular

vite.config.*.timestamp*
vitest.config.*.timestamp*
node_modules

# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/
